<div class="filters">
  <form action="/">
    <label for="search"></label>
    <input type="text" id="search" placeholder="Votre adresse" name="address" >
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>


   <% if params[:address].present? %>
      <%= render 'shared/filter' %>
   <%  else%>
     <%= render 'shared/newestprestations' %>
   <%  end%>

