<% @prestations.each do |prestation| %>
  <div class = "card-product">
    <%= cl_image_tag prestation.poster.key %>
    <div class="card-product-infos">
      <h2><%= prestation.name %></h2>
      <p><%= prestation.category %></p> 
      <p><%= prestation.price %> € par jour de prestation</p>
    </div>
  </div>
  <br>
<% end %>