// Specific CSS for your home-page
#text-home h2{
  font-size: 16px;
  padding-top: 32px;
  padding-left: 32px;
  font-family: "open sans", sans-serif;
  text-decoration: underline #61E294 5px;
  text-underline-offset: 3px;
}

#map-filter {
  width: 400px;
  height: 400px;
  position: sticky;
  top: 40px;
  margin-right: 40px
}

  body {
  background-color: white;
}
