.container {
  width: 100%;
}

.img-prestation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img{
  object-fit: cover;
  object-position: center;
  margin: 25px 25px;
  border-radius: 12px;
}
  .p-prestation {
    width: 40%
  }
}


i{
  color: black;
}

.text-description h1{
  padding-left: 0;
  padding-top: 32px;
  margin-bottom: 0px;
}

.text-description h2{
  font-weight: 300;
  font-size: 24px;
  padding-left: 36px;
}

.text-description h3{
  font-weight: 300;
  font-size: 16px;
  padding-left: 36px;
}


.text-description i{
  padding-right: 12px;
}
