<h1>Récapitulatif de réservation</h1>

<h2>Votre demande de prestation</h2>

<p>dates</p>
<p>price</p>

<%# event listener click if user_loged_in? ... <%= link_to show de user do %>
Confirmer
<%# <% end %>

<%= link_to prestation_path(@prestation) do %>
Retour
<% end %>
