.ctr-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 12px;
}

.card-prestation {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 25px;
  background-color: white;
  border-radius: 24px;
  &:hover{
    border: 5px solid #61E294;
  }
}

.card-prestation .text-prestation {
  color: black;
  text-decoration: none;
  margin: 15px 0px;

}

.card-prestation .text-prestation h2, h3{
  font-size: 16px;
  line-height: 20px;
}
