.ctr-card{
  display: flex;
  justify-content: space-between;
}

.card-reservation{
  height: 30vh;
  border-radius: 12px;
  border: solid 3px #61E294;
  width: 50%;
  padding: 25px 25px;
  height: 380px;
  line-height: 30px;
}

.card-comment {
  border-radius: 12px;
  border: solid 3px #61E294;
  width: 40%;
  padding: 25px 25px;
}

.card-comment-title {
  font-weight: 500;
  border-bottom: solid #61E294;
}

.card-comment-name {
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  box-shadow: inset 0 -.5em 0 #61E294;
}

.card-comment-p {
  font-weight: 300;
  font-size: 12px;
}

form input {
  margin:0;
  padding: 0;
}

.card-reservation p{
  font-family: "open sans", sans-serif;
  font-weight: 800;
  padding-top: 16px;
}
