// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/position";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "mapbox-gl/dist/mapbox-gl";

// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


body {
  flex-direction: column;
  height: 100vh;
  margin-bottom: 50px;
}


h1{
  margin: 24px;
  font-size: 16px;
  font-weight: bold;
  font-family: "open sans", sans-serif;
  text-decoration: underline #61E294 5px;
  text-underline-offset: 3px;
}


h2{
  margin: 16px;
  font-size: 16px;
  font-weight: bold;
  font-family: "open sans", sans-serif;
}


.mapboxgl-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
}
